<?xml version="1.0"?>
<robot name="mine_explorer" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- ========================= -->
    <!-- Global Arguments -->
    <!-- ========================= -->
    <xacro:arg name="prefix_arm" default="arm_"/>
    <xacro:arg name="prefix_base" default=""/>
    <xacro:arg name="name_arm" default="ArmMineExplorerSystem"/>
    <xacro:arg name="name_base" default="MobileBaseMineExplorerSystem"/>
    <xacro:arg name="name_lidar" default="lidar"/>
    <xacro:arg name="use_sim" default="true"/>


    <!-- ========================= -->
    <!-- Includes -->
    <!-- ========================= -->
    <xacro:include filename="$(find base_mine_explorer_description)/urdf/mobile_base/mobile_base.xacro" />
    <xacro:include filename="$(find arm_mine_explorer_description)/urdf/arm/arm.xacro"/>
    <xacro:include filename="$(find sensors_mine_explorer_description)/urdf/lidar/velodyne_vlp16.xacro"/>
    <xacro:include filename="$(find sensors_mine_explorer_description)/urdf/camera/realsense_all.xacro" />
    <xacro:include filename="$(find sensors_mine_explorer_description)/urdf/sonar/maxbotix_lv_ez.xacro" />
    <xacro:include filename="$(find sensors_mine_explorer_description)/urdf/imu/imu.xacro" />


    <!-- ========================= -->
    <!-- Mobile Base -->
    <!-- ========================= -->
    <xacro:base_mine_explorer 
        name="$(arg name_base)"
        prefix="$(arg prefix_base)" 
        use_sim="$(arg use_sim)"/>


    <!-- ========================= -->
    <!-- Robotic Arm -->
    <!-- ========================= -->
    <xacro:arg name="joint_limit_params" default="$(find arm_mine_explorer_description)/config/joint_limits.yaml"/>
    <xacro:arg name="kinematics_params" default="$(find arm_mine_explorer_description)/config/default_kinematics.yaml"/>
    <xacro:arg name="physical_params" default="$(find arm_mine_explorer_description)/config/physical_parameters.yaml"/>
    <xacro:arg name="visual_params" default="$(find arm_mine_explorer_description)/config/visual_parameters.yaml"/>
    <xacro:arg name="safety_limits" default="true"/>
    <xacro:arg name="safety_pos_margin" default="0.15"/>
    <xacro:arg name="safety_k_position" default="20"/>
    <xacro:arg name="initial_positions_file" default="$(find arm_mine_explorer_description)/config/initial_positions.yaml"/>
    <xacro:property name="initial_positions_file" default="$(arg initial_positions_file)"/>


    <xacro:arm_mine_explorer
        name="$(arg name_arm)"
        prefix="$(arg prefix_arm)"
        use_sim="$(arg use_sim)"
        parent="$(arg prefix_base)top_plate_link"
        joint_limits_parameters_file="$(arg joint_limit_params)"
        kinematics_parameters_file="$(arg kinematics_params)"
        physical_parameters_file="$(arg physical_params)"
        visual_parameters_file="$(arg visual_params)"
        initial_positions="${xacro.load_yaml(initial_positions_file)}"
        safety_limits="$(arg safety_limits)"
        safety_pos_margin="$(arg safety_pos_margin)"
        safety_k_position="$(arg safety_k_position)"
        >
        <origin xyz="-0.25 0 0" rpy="0 0 3.1415" />
   </xacro:arm_mine_explorer>


    <!-- ========================= -->
    <!-- LiDAR -->
    <!-- ========================= -->
    <xacro:VLP-16 parent="$(arg prefix_base)top_plate_link" name="$(arg name_lidar)" topic="/sensors/lidar/data" samples="200" hz="5" max_range="15.0" lasers="8">
        <origin xyz="0.3 0 0" rpy="0 0 0" />
    </xacro:VLP-16>


    <!-- ========================= -->
    <!-- Front Camera -->
    <!-- ========================= -->
    <!--
    <xacro:sensor_d455 parent="$(arg name_lidar)_base_link" name="front_rgbd">
        <origin xyz="0 0 0.08" rpy="0 0.26 0"/>
    </xacro:sensor_d455>

    <xacro:realsense_gazebo 
        name="front_rgbd" 
        topics_ns="sensors" 
        h_fov="1.50098" 
        min_range="0.4" 
        max_range="10.0" 
        baseline="0.095" />
    -->

    <!-- ========================= -->
    <!-- Arm Camera -->
    <!-- ========================= --> 
    <!--
    <xacro:sensor_d435 parent="$(arg prefix_arm)tool0" name="arm_rgbd">
        <origin xyz="0 0.0 0.0" rpy="0 0 0"/>
    </xacro:sensor_d435>

    <xacro:realsense_gazebo 
        name="arm_rgbd" 
        topics_ns="sensors" 
        h_fov="1.51844" 
        min_range="0.1" 
        max_range="3.0" 
        baseline="0.050" />
    -->
    
    <!-- ========================= -->
    <!-- Sonar -->
    <!-- ========================= -->
    <!--
    <xacro:maxbotix_lv_ez name="sonar_front_left" parent="$(arg prefix_base)top_plate_link" topic="sensors/sonars/front_left">
        <origin xyz="0.41 0.22 -0.15" rpy="0 0 0.5"/> 
    </xacro:maxbotix_lv_ez>

    <xacro:maxbotix_lv_ez name="sonar_front_right" parent="$(arg prefix_base)top_plate_link" topic="sensors/sonars/front_right">
        <origin xyz="0.41 -0.22 -0.15" rpy="0 0 -0.5"/> 
    </xacro:maxbotix_lv_ez>

    <xacro:maxbotix_lv_ez name="sonar_side_left" parent="$(arg prefix_base)top_plate_link" topic="sensors/sonars/left">
        <origin xyz="-0.075 0.275 -0.1" rpy="0 0 1.5708"/> 
    </xacro:maxbotix_lv_ez>

    <xacro:maxbotix_lv_ez name="sonar_side_right" parent="$(arg prefix_base)top_plate_link" topic="sensors/sonars/right">
        <origin xyz="-0.075 -0.275 -0.1" rpy="0 0 -1.5708"/> 
    </xacro:maxbotix_lv_ez>

    <xacro:maxbotix_lv_ez name="sonar_rear_left" parent="$(arg prefix_base)top_plate_link" topic="sensors/sonars/rear_left">
        <origin xyz="-0.57 0.22 -0.15" rpy="0 0 2.6"/> 
    </xacro:maxbotix_lv_ez>

    <xacro:maxbotix_lv_ez name="sonar_rear_right" parent="$(arg prefix_base)top_plate_link" topic="sensors/sonars/rear_right">
        <origin xyz="-0.57 -0.22 -0.15" rpy="0 0 -2.6"/> 
    </xacro:maxbotix_lv_ez>
    -->

    <!-- ========================= -->
    <!-- IMU -->
    <!-- ========================= -->
    <xacro:imu_sensor name="imu" parent="$(arg prefix_base)base_link" topic="sensors/imu/data">
        <origin xyz="0 0 0.0" rpy="0 0 0" />
    </xacro:imu_sensor>


    <!-- ========================= -->
    <!-- Gazebo -->
    <!-- ========================= -->
    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find mine_explorer_gazebo)/config/gazebo_controller_manager.yaml</parameters>
        </plugin>
    </gazebo>

    <!-- ========================= -->
    <!-- Ground Truth -->
    <!-- ========================= -->
    
    <gazebo>
        <plugin name="mine_explorer_ground_truth" filename="libgazebo_ros_p3d.so">
            <ros>
                <remapping>odom:=ground_truth/odom</remapping>
            </ros>
            <update_rate>20.0</update_rate>
            <body_name>base_footprint</body_name>
            <frame_name>world</frame_name>
            <xyz_offset>0 0 0</xyz_offset>
            <rpy_offset>0 0 0</rpy_offset>
            <gaussian_noise>0.0</gaussian_noise>
        </plugin>
    </gazebo>


</robot>
